@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
p {
    margin: 0;
}

/* Color Theme */
:root {
    --main-bg-color: #010408;

    --primary-color: #6157DB;
    --primary-hover-color: #3B3587;
    --primary-focus-color: #A09AE9;

    --box-color: #0A0F16;
    --box-bg: #0A0F16;
    --box-border: #252F3A;
    --box-radius: 4px;

    --body-text: #848F9D;

    --select-bg: #252F3A;
    --select-radius: 6px;
    --select-default-color: #848F9D;
    --select-hover-color: #93A1B2;
    --select-focus-color: #A09AE9;
    --select-error-color: #F87171;

    --link-default-color: #0EA5E9;
    --link-hover-color: #0284C7;

    --green-300: #86EFAC;
    --green-400: #4ADE80;
    --green-500: #22C55E;
    --green-950: #07211C;

    --gray-color-1: #E5E7EB;
    --gray-scale-3: #E9EBED;
    --gray-scale-5: #848F9D;
    --gray-scale-6: #414B55;
    --gray-color-9: #141C24;

    --red-500: #EF4444;

    --bar-chart-bg: #141C24;

    --context-menu-bg: #141C24;
    --context-menu-border: #252F3A;

    --main-color: rgb(19 24 37);
    --main-font: "Inter", sans-serif;
    --main-color-hover: #080D1B;
    --box-shadow-color: #909090;
    --second-color: #B84A05;
    --border-radius: 6px;
    --gap: 15px;
    --padding: 15px;
    --border-style: 1px solid rgb(37 41 51);
}

* {
    font-family: var(--main-font);
}

body {
    margin: 0;
    background: var(--main-bg-color);
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--main-color);
    overflow-x: hidden;
    color: var(--body-text);
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: white;
}
h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
}
h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
}
h5 {
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
}
h6 {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
}

/* Scrollbar Hack */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--primary-color)
}


/* Tooltip */
[tooltip-text] {
    position: relative;
}

[tooltip-text='Close']:hover {
    color: var(--red)
}

[tooltip-text]:hover::after,
[tooltip-text]:hover::before {
    opacity: 1;
}

[tooltip-text]::before {
    content: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 8L7 0L0.788855 3.10557C0.0518064 3.4741 0.0518053 4.5259 0.788854 4.89443L7 8Z' fill='%23414B55'/%3E%3C/svg%3E");
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    opacity: 0;
}

[tooltip-text]::after {
    content: attr(tooltip-text);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #414B55;
    text-align: center;
    color: #fff;
    padding: 10px 12px;
    min-width: 100px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 8;
    opacity: 0;
    font-family: var(--main-font);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}

[tooltip-position='left']::before {
    left: 0%;
    top: calc(50% - 2px);
    margin-left: -13px;
    transform: rotate(336deg);
}

[tooltip-position='top']::before {
    left: 50%;
}

[tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}

[tooltip-position='right']::before {
    left: 146%;
    top: calc(50% - 9px);
    margin-left: 0;
}

[tooltip-position='left']::after {
    left: 0%;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
    max-width: 150px;
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
    left: 132%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
}